<h1>Editing Property</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa0a2EWFoWhKpXz9zvqC4eMnn6EftPbE4&libraries=places&callback=initAutocomplete"></script>
<%= render 'form' %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
