<h1>Flats on sell...</h1>
<div class="row">
<div class="col-md-8">
	<% @properties.each do |property|%>
		<div class="col-md-4">
		<div class="fa fa-home fa-4x">
		</div>
		<div>
				<%= link_to property.title, property %>
</div>
		
		</div>
	<% end %>
</div>
</div>