<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Customer</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $10<span class="subscript">/mo</span></h1>
                        <small>1 month FREE trial</small>
                    </div>
                    <table class="table">
                        <tr class="active">
                            <td>
                                1 Properties
                            </td>
                        </tr>
                        <tr>
                            <td>
Show contact details                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Property on map search
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No of views
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success white-color" role="button">Sign Up</a>
                    1 month FREE trial</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Agent</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $20<span class="subscript">/mo</span></h1>
                        <small>1 month FREE trial</small>
                    </div>
                    <table class="table">
                        <tr class="active">
                            <td>
                                5 Properties
                            </td>
                        </tr>
                        <tr>
                            <td>Add company details
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
Property on map search                            </td>
                        </tr>
                        <tr>
                            <td>
Complete analysis of properties                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                <%= link_to 'Sign Up', new_agent_registration_path,class:"btn btn-success white-color"%>
                    1 month FREE trial</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Builder</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $35<span class="subscript">/mo</span></h1>
                        <small>1 month FREE trial</small>
                    </div>
                    <table class="table">
                        <tr class="active">
                            <td>
                                20 Project
                            </td>
                        </tr>
                        <tr>
                            <td>
Add company details                            </td>
                        </tr>
                        <tr class="active">
                            <td>
Customize project page                            </td>
                        </tr>
                        <tr>
                            <td>
Property on map search                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                <%= link_to 'Sign Up', new_builder_registration_path,class:"btn btn-success white-color"%>
1 month FREE trial</div>
            </div>
        </div>
    </div>
</div>
